{% extends 'base.html.twig' %}

{% block title %}Ваше замовлення{% endblock %}


{% block body %}
    <div class="bg-gray-100 h-screen py-8">
        <div class=" mt-10 container mx-auto px-4">
            <h1 class="text-2xl font-semibold mb-4">Ваше замовлення</h1>
            <div class="flex flex-col md:flex-row gap-4">
                <div class="md:w-3/4">
                    <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                        <table class="w-full">
                            <thead>
                            <tr>
                                <th class="text-left font-semibold">Фото</th>
                                <th class="text-left font-semibold">Назва</th>
                                <th class="text-left font-semibold">Ціна</th>
                                <th class="text-left font-semibold">Кількість</th>
                                <th class="text-left font-semibold">Всього</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for processor in cartData %}
                                <tr>
                                    <td class="py-4">
                                        {% if processor.image %}
                                            <img class="h-16 w-16 mr-4" src="{{ asset('images/' ~ processor.image) }}"
                                                 alt="{{ processor.name }} Image">
                                        {% endif %}
                                    </td>
                                    <td class="py-4">{{ processor.name }}</td>
                                    <td class="py-4">{{ processor.price }} UAH</td>
                                    <td class="py-4">
                                        <div class="flex items-center">
                                            <span class="text-center w-8">{{ processor.quantity }}</span>
                                        </div>
                                    </td>
                                    <td class="py-4">{{ processor.price * processor.quantity }} грн</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="md:w-1/4">
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <h2 class="text-lg font-semibold ">Рахунок</h2>
                        <div class="flex-column justify-between">
                            {% for processor in cartData %}
                                <div class="flex justify-between">
                                    <div class="py-4">{{ processor.name }}</div>
                                    <div class="py-4">{{ processor.price * processor.quantity }} грн</div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr class="my-2">
                        <div class="flex justify-between mb-2">
                            <span class="font-semibold">Всього</span>
                            <span class="font-semibold">{{ totalAmount }} грн</span>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="text-2xl font-semibold mb-4">Заповніть важливу інформацію</h1>
            <div class="bg-white rounded-lg border md:w-3/4">
                <div class="px-3 mb-2 mt-2">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


