{% extends 'base.html.twig' %}

{% block title %}Ваш кошик{% endblock %}


{% block body %}
    <div class="bg-gray-100 h-screen py-8">
        <div class=" mt-10 container mx-auto px-4">
            <h1 class="text-2xl font-semibold mb-4">Ваш кошик</h1>

            {% if cartData|length > 0 %}
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="md:w-3/4">
                        <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                            <table class="w-full">
                                <thead>
                                <tr>
                                    <th class="text-left font-semibold">Фото</th>
                                    <th class="text-left font-semibold">Назва</th>
                                    <th class="text-left font-semibold">Ціна</th>
                                    <th class="text-left font-semibold">Кількість</th>
                                    <th class="text-left font-semibold">Всього</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for processor in cartData %}
                                    <tr>
                                        <td class="py-4">
                                            {% if processor.image %}
                                                <img class="h-16 w-16 mr-4"
                                                     src="{{ asset('images/' ~ processor.image) }}"
                                                     alt="{{ processor.name }} Image">
                                            {% endif %}
                                        </td>
                                        <td class="py-4">{{ processor.name }}</td>
                                        <td class="py-4">{{ processor.price }} UAH</td>
                                        <td class="py-4">
                                            <div class="flex items-center">
                                                <a href="{{ path('remove_from_cart', {'id': processor.id}) }}"
                                                   class="border rounded-md py-2 px-4 mr-2"><i
                                                            class="fi-rr-angle-left"></i></a>
                                                <span class="text-center w-8">{{ processor.quantity }}</span>
                                                <a href="{{ path('cart_add_to_cart', {'id': processor.id}) }}"
                                                   class="border rounded-md py-2 px-4 ml-2"><i
                                                            class="fi-rr-angle-right"></i></a>
                                            </div>
                                        </td>
                                        <td class="py-4">{{ processor.price * processor.quantity }} грн</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="md:w-1/4">
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h2 class="text-lg font-semibold ">Рахунок</h2>
                            <div class="flex-column justify-between">
                                {% for processor in cartData %}
                                    <div class="flex justify-between">
                                        <div class="py-4">{{ processor.name }}</div>
                                        <div class="py-4">{{ processor.price * processor.quantity }} грн</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <hr class="my-2">
                            <div class="flex justify-between mb-2">
                                <span class="font-semibold">Всього</span>
                                <span class="font-semibold">{{ totalPrice }} грн</span>
                            </div>
                            {% if app.user is null %}
                            <div class="mt-3">
                                <a href="/login"
                                   class="bg-green-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Купити</a>
                            </div>
                            {% else %}
                                <div class="mt-3">
                                    <a href="{{ path('create_order') }}"
                                       class="bg-green-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Купити</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <a href="{{ path('clear_cart') }}" class="btn btn-outline-secondary mt-3">Очистити кошик</a>
            {% else %}
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="md:w-3/4">
                        <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                            <table class="w-full">
                                <thead>
                                <tr>
                                    <th class="text-left font-semibold">Фото</th>
                                    <th class="text-left font-semibold">Назва</th>
                                    <th class="text-left font-semibold">Ціна</th>
                                    <th class="text-left font-semibold">Кількість</th>
                                    <th class="text-left font-semibold">Всього</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="justify-content-center">
                                    <td class="py-4"></td>
                                    <td class="py-4"></td>

                                    <td class="text-gray-500 py-4" colspan="5">
                                        <i class="fi-rr-shopping-cart text-xl"></i>
                                        <label>Ваше замовлення</label>
                                    </td>
                                    <td class="py-4"></td>
                                    <td class="py-4"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="md:w-1/4">
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h2 class="text-lg font-semibold ">Рахунок</h2>
                            <div class="flex-column justify-between">
                                {% for processor in cartData %}
                                    <div class="flex justify-between">
                                        <div class="py-4">{{ processor.name }}</div>
                                        <div class="py-4">{{ processor.price * processor.quantity }} грн</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <hr class="my-2">
                            <div class="flex justify-between mb-2">
                                <span class="font-semibold">Всього</span>
                                <span class="font-semibold">{{ totalPrice }} грн</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <a href="{{ path('shop') }}" class="bg-gray-500 text-white btn btn-outline-secondary mt-3">Продовжити
                покупки</a>
        </div>
    </div>

{% endblock %}


