{% extends 'base.html.twig' %}

{% block title %}Вхід в акаунт{% endblock %}

{% block body %}
    <div class="p-10 w-full md:w-3/6 container">
        <h1 class="mb-4 mt-20 font-extrabold text-4xl">Вхід в акаунт</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div>
                    <div class="mb-4">
                        <label class="" for="inputEmail">Пошта</label>
                        <input class="w-full shadow-inner bg-gray-100 rounded-lg placeholder-black text-1xl p-3 border-none block mt-2"
                               type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               autocomplete="email" required autofocus>
                    </div>

                    <div class="mb-4">
                        <label for="inputPassword">Пароль</label>
                        <input class="w-full shadow-inner bg-gray-100 rounded-lg placeholder-black text-1xl p-3 border-none block mt-2"
                               type="password" name="password" id="inputPassword" autocomplete="current-password"
                               required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="flex items-center justify-between mt-8">
                        <button type="submit" class="mb-2 px-2.5 py-1.5 rounded-md text-white bg-indigo-500">Увійти
                        </button>
                    </div>
                </div>
            </form>
            <div class="bg-gray-100 p-8 rounded">
                <h2 class="font-bold text-2xl">Важлива інформація</h2>
                <ul class="list-disc mt-2 list-inside">
                    <li class="mb-3">Ваші персональні дані не будуть передаватись третім особам.</li>
                    <li class="mb-3">Заповніть дані уважно щоб при замовленні товару ми змогли зв'язатись з вами.</li>
                    <li class="mb-3">Якщо у вас з'являюсться питання ви можете звернутись до нашої технічної
                        підтримки.
                    </li>
                </ul>
                <div class="text-center">
                    <a href="/register" class="text-gray-500 hover:text-gray-900">Зареєструватися</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
