{% extends 'base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block body %}
    <div class="p-10 w-full md:w-3/6 container">
        <h1 class="mb-4 mt-20 font-extrabold text-4xl">Реєстрація</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {{ form(registrationForm) }}
                <div class="bg-gray-100 p-8 rounded">
                    <h2 class="font-bold text-2xl">Важлива інформація</h2>
                    <ul class="list-disc mt-2 list-inside">
                        <li class="mb-3">Реєстрація на сайті необхідна для оформлення замовлення та додавання відгуку про процесор.
                        <li class="mb-3">Ваші персональні дані не будуть передаватись третім особам.</li>
                        <li class="mb-3">Заповніть дані уважно щоб при замовленні товару ми змогли зв'язатись з вами.</li>
                        <li class="mb-3">Якщо у вас з'являюсться питання ви можете звернутись до нашої технічної підтримки.</li>
                    </ul>
                    <div class="text-center">
                    <a href="/login" class="text-gray-500 hover:text-gray-900">Увійти</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
