{% extends 'base.html.twig' %}

{% block title %}Про нас{% endblock %}

{% block body %}

        <img src="{{ asset('images/Baner About Us.jpg') }}" alt="" class=" inset-0 h-full w-full object-cover object-right md:object-center">

    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Про компанію</h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">Ми - ProcessorStore, ваш надійний партнер у сфері комп'ютерної техніки. Наша команда вдосконалює процес вибору і придбання процесорів, роблячи його простішим і захоплюючим. Звертайтеся до нас для найкращих технологічних рішень!</p>
            </div>
            <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
                    <a href="#">Відкриті вакансії <span aria-hidden="true">&rarr;</span></a>
                    <a href="#">Програма стажування <span aria-hidden="true">&rarr;</span></a>
                    <a href="#">Наші цінності <span aria-hidden="true">&rarr;</span></a>
                    <a href="#">Наше керівництво <span aria-hidden="true">&rarr;</span></a>
                </div>
                <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Офіси по всьому світу</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">12</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Повноцінних співробітників</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">300+</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Робочі години</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">7:00-22:00</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-gray-300">Доставка</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">По всій Україні</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
