{% extends 'base.html.twig' %}

{% block title %}Процесори{% endblock %}

{% block body %}
<div class="flex">
    {% include 'menu.html.twig' %}
    <div class="w-full md:w-1/6"></div>
    <div class="px-20 mb-20 container mx-auto">
        <h1 class="mt-20 text-3xl font-semibold">Процесори</h1>

        <form action="{{ path('admin_panel_processors') }}" method="get" class="mt-4">
            <div class="flex flex-wrap gap-4">
                <div class="w-full md:w-1/3">
                    <label for="searchQuery" class="block text-sm font-medium text-gray-700">Пошук:</label>
                    <input type="text" id="searchQuery" name="searchQuery" value="{{ searchQuery }}" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                </div>

                <div class="w-full md:w-1/3">
                    <label for="sortOption" class="block text-sm font-medium text-gray-700">Сортувати за:</label>
                    <select id="sortOption" name="sortOption" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                        <option value="date_desc" {% if sortBy == "date_desc"%} selected{% endif %}>Від новішого</option>
                        <option value="date_asc" {% if sortBy == "date_asc"%} selected{% endif %}>Від старішого</option>
                        <option value="price_desc" {% if sortBy == "price_desc"%} selected{% endif %}>Ціна від більшої</option>
                        <option value="price_asc" {% if sortBy == "price_asc"%} selected{% endif %}>Ціна від меншої</option>
                        <option value="quantity_desc" {% if sortBy == "quantity_desc"%} selected{% endif %}>Кількість на складі від більшої</option>
                        <option value="quantity_asc" {% if sortBy == "quantity_asc"%} selected{% endif %}>Кількість на складі від меншої</option>
                        <option value="tdp_desc" {% if sortBy == "tdp_desc"%} selected{% endif %}>TDP від більшого</option>
                        <option value="tdp_asc" {% if sortBy == "tdp_asc"%} selected{% endif %}>TDP від меншого</option>
                        <option value="cores_desc" {% if sortBy == "cores_desc"%} selected{% endif %}>Кількість ядер від більшого</option>
                        <option value="cores_asc" {% if sortBy == "cores_asc"%} selected{% endif %}>Кількість ядер від меншого</option>
                    </select>
                </div>
                <div class="mt-4">
                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700">
                        Застосувати фільтри
                    </button>
                </div>
                <div class="flex">
                <!-- Бренди -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Бренд:</label>
                    {% for brand in brands %}
                        <div class="flex items-center">
                            <input type="checkbox" name="brandFilter[]" value="{{ brand.id }}" id="brand_{{ brand.id }}" {% if brand.id in brandFilter %} checked{% endif %} class="mr-2">
                            <label for="brand_{{ brand.id }}">{{ brand.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Інтегрована графіка -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Інтегрована графіка:</label>
                    {% for graphics in integratedGraphics %}
                        <div class="flex items-center">
                            <input type="checkbox" name="graphicsFilter[]" value="{{ graphics.id }}" id="graphics_{{ graphics.id }}" {% if graphics.id in graphicsFilter %} checked{% endif %} class="mr-2">
                            <label for="graphics_{{ graphics.id }}">{{ graphics.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Тип сокета -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Тип сокета:</label>
                    {% for socket in sockets %}
                        <div class="flex items-center">
                            <input type="checkbox" name="socketFilter[]" value="{{ socket.id }}" id="socket_{{ socket.id }}" {% if socket.id in socketFilter %} checked{% endif %} class="mr-2">
                            <label for="socket_{{ socket.id }}">{{ socket.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Категорія -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Категорія:</label>
                    {% for category in categories %}
                        <div class="flex items-center">
                            <input type="checkbox" name="categoryFilter[]" value="{{ category.id }}" id="category_{{ category.id }}" {% if category.id in categoryFilter %} checked{% endif %} class="mr-2">
                            <label for="category_{{ category.id }}">{{ category.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Кеш пам'ять -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Кеш пам'ять (MB):</label>
                    {% for c in cache %}
                        <div class="flex items-center">
                            <input type="checkbox" name="cacheMemoryFilter[]" value="{{ c }}" id="cache_{{ c }}" {% if c in cacheMemoryFilter %} checked{% endif %} class="mr-2">
                            <label for="cache_{{ c }}">{{ c }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- TDP -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">TDP (W):</label>
                    {% for t in tdp %}
                        <div class="flex items-center">
                            <input type="checkbox" name="tdpFilter[]" value="{{ t }}" id="tdp_{{ t }}" {% if t in tdpFilter %} checked{% endif %} class="mr-2">
                            <label for="tdp_{{ t }}">{{ t }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Кількість ядер -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Кількість ядер:</label>
                    {% for core in cores %}
                        <div class="flex items-center">
                            <input type="checkbox" name="coresFilter[]" value="{{ core }}" id="cores_{{ core }}" {% if core in coresFilter %} checked{% endif %} class="mr-2">
                            <label for="cores_{{ core }}">{{ core }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Технічний процес -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Технічний процес (nm):</label>
                    {% for techProcess in techProcess %}
                        <div class="flex items-center">
                            <input type="checkbox" name="techProcessFilter[]" value="{{ techProcess }}" id="techProcess_{{ techProcess }}" {% if techProcess in techProcessFilter %} checked{% endif %} class="mr-2">
                            <label for="techProcess_{{ techProcess }}">{{ techProcess }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Діапазон цін -->
                <div class="px-2 mb-4">
                    <label class="block text-sm font-medium text-gray-700">Діапазон цін:</label>
                    <div class="grid grid-cols-2 gap-2">
                        <input type="text" id="minPrice" name="minPrice" value="{{ minPrice }}" placeholder="Мінімум" class="p-2 border border-gray-300 rounded-md">
                        <input type="text" id="maxPrice" name="maxPrice" value="{{ maxPrice }}" placeholder="Максимум" class="p-2 border border-gray-300 rounded-md">
                    </div>
                </div>
            </div>
            </div>
        </form>

        <a href="{{ path('create_processors')}}" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700 mt-4">+ Додати</a>

                        <div class=" mt-4 w-100 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" style="display: block; overflow-x: auto!important; ">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        ID
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Назва
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Зображення
                                    </th>
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Бренд#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Тип сокета#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Ядра#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Потоки#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Базова частота#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Максимальна частота#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Кеш пам'ять#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Техпроцес#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        TDP#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Вбудована графіка#}
{#                                    </th>#}
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Дата створення#}
{#                                    </th>#}
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Ціна
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Кількість на складі
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Категорія
                                    </th>
{#                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#}
{#                                        Опис#}
{#                                    </th>#}
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                {% for processor in processors %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        {{ processor.id }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ processor.name }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {% if processor.image %}
                                            <img style="height: 50px; width: 50px;"
                                                 src="{{ asset('images/' ~ processor.image) }}"
                                                 alt="{{ processor.name }} Зображення">
                                        {% endif %}
                                    </td>
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.brand.name }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.socketType.name }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.cores }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.threads }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.baseClockSpeed }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.maxClockSpeed }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.cacheMemory }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.techProcess }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.tdp }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.integratedGraphics.name }}#}
{#                                    </td>#}
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
{#                                        {{ processor.created|date('Y-m-d') }}#}
{#                                    </td>#}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ processor.price }} грн
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ processor.stockQuantity }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ processor.category.name }}
                                    </td>
{#                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 overflow-hidden line-clamp-1">#}
{#                                        {{ processor.description }}#}
{#                                    </td>#}
                                    <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                                        <a href="{{ path('edit_processors', {'id': processor.id}) }}" class="text-indigo-600 hover:text-indigo-900">
                                            Редагувати
                                        </a>
                                        <a href="{{ path('delete_processor', {'id': processor.id}) }}" class="ml-4 text-red-600 hover:text-red-900" onclick="return confirm('Ви впевнені, що хочете видалити цей процесор?')">
                                            Видалити
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
        </div>
    </div>
</div>

{% endblock %}
