{% extends 'base.html.twig' %}

{% block title %}Список брендів{% endblock %}

{% block body %}
    <div class="flex">
        {% include 'menu.html.twig' %}
        <div class="w-full md:w-1/6"></div>

        <div class="px-20 mb-20 container mx-auto">
            <h1 class="mt-20 text-3xl font-semibold">Бренди</h1>
            <form action="{{ path('admin_panel_brands') }}" method="get" class="mt-4">
                <div class="flex space-x-4">
                    <div class="w-full md:w-1/3">
                        <label for="searchQuery" class="block text-sm font-medium text-gray-700">Пошук:</label>
                        <input type="text" id="searchQuery" name="searchQuery" value="{{ searchQuery }}" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                    </div>

                    <div class="w-full md:w-1/6">
                        <label for="sortOption" class="block text-sm font-medium text-gray-700">Сортувати за:</label>
                        <select id="sortOption" name="sortOption" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                            <option value="name_asc" {% if sortBy == "name_asc" %} selected{% endif %}>За алфавітом</option>
                            <option value="name_desc" {% if sortBy == "name_desc" %} selected{% endif %}>Навпаки</option>
                        </select>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700">
                            Застосувати фільтри
                        </button>
                    </div>
                </div>

                <div class="mt-4">
                    <label for="countryFilter" class="block text-sm font-medium text-gray-700">Країна:</label>
                    {% for c in country %}
                        <label class="inline-flex items-center ml-2">
                            <input type="checkbox" name="countryFilter[]" value="{{ c }}" {% if c in countryFilter %} checked{% endif %} class="form-checkbox">
                            <span class="ml-2">{{ c }}</span>
                        </label>
                    {% endfor %}
                </div>
            </form>

            <a href="{{ path('create_brand') }}" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700 mt-4">+ Додати</a>

            <div class="mt-4 flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        ID
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Назва
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Країна
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Веб-сайт
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                                    </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                {% for brand in brands %}
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                            {{ brand.id }}
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            {{ brand.name }}
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            {{ brand.country }}
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            {{ brand.website }}
                                        </td>
                                        <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                                            <a href="{{ path('edit_brand', {'id': brand.id}) }}" class="text-indigo-600 hover:text-indigo-900">
                                                Редагувати
                                            </a>
                                            <a href="{{ path('delete_brand', {'id': brand.id}) }}" class="ml-4 text-red-600 hover:text-red-900" onclick="return confirm('Ви впевнені, що хочете видалити цей бренд?')">
                                                Видалити
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
