{% extends 'base.html.twig' %}

{% block title %}Статистика{% endblock %}
{% block body %}
<div class="flex">

{% include 'menu.html.twig' %}
    <div class="w-full md:w-1/6"></div>

    <div class="px-20 mb-20 container mx-auto">
    <h1 class="mt-20 text-3xl font-semibold">Статистика</h1>

    <form action="{{ path('app_admin_panel') }}" method="get">
        <div class="flex flex-wrap gap-4">
            <div class="w-full md:w-1/3">
        <label for="searchQuery" class="block text-sm font-medium text-gray-700">Пошук:</label>
        <input type="text" id="searchQuery" name="searchQuery" value="{{ searchQuery }}" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
            </div>
            <div class="w-full md:w-1/3">
            <label for="sortOption" class="block text-sm font-medium text-gray-700">Сортувати за:</label>
        <select id="sortOption" name="sortOption" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
            <option value="date_desc"{% if sortBy == "date_desc"%} selected{% endif %}>Від новішого</option>
            <option value="date_asc" {% if sortBy == "date_asc"%} selected{% endif %}>Від старішого</option>
            <option value="price_desc" {% if sortBy == "price_desc"%} selected{% endif %}>Ціна від більшої</option>
            <option value="price_asc" {% if sortBy == "price_asc"%} selected{% endif %} >Ціна від меншої</option>
            <option value="quantity_desc" {% if sortBy == "quantity_desc"%} selected{% endif %}>Кількість на складі від більшої</option>
            <option value="quantity_asc" {% if sortBy == "quantity_asc"%} selected{% endif %} >Кількість на складі від меншої</option>
            <option value="tdp_desc" {% if sortBy == "tdp_desc"%} selected{% endif %}>tdp від більшого</option>
            <option value="tdp_asc" {% if sortBy == "tdp_asc"%} selected{% endif %} >tdp від меншого</option>
            <option value="cores_desc" {% if sortBy == "cores_desc"%} selected{% endif %}>Кількість ядер від більшого</option>
            <option value="cores_asc" {% if sortBy == "cores_asc"%} selected{% endif %} >Кількість ядер від меншого</option>
        </select>
            </div>
            <div class="mt-4">
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700">
                    Застосувати фільтри
                </button>
            </div>
            <div class="flex">
                <!-- Бренди -->
        <div class="px-2 mb-4">
            <label for="brandFilter" class="block text-sm font-medium text-gray-700">Бренд:</label>
            {% for brand in brands %}
            <div class="flex items-center">
            <input type="checkbox" name="brandFilter[]" class="mr-2" value="{{ brand.id }}" {% if brand.id in brandFilter %} checked{% endif %}>{{ brand.name }}
            </div>
            {% endfor %}
        </div>

        {# Інтегрована графіка #}
                <div class="px-2 mb-4">
            <label for="graphicsFilter" class="block text-sm font-medium text-gray-700">Інтегрована графіка:</label>
            {% for graphics in integratedGraphics %}
                    <div class="flex items-center">
                    <input type="checkbox" name="graphicsFilter[]" class="mr-2" value="{{ graphics.id }}" {% if graphics.id in graphicsFilter %} checked{% endif %}>{{ graphics.name }}
                    </div>
            {% endfor %}
        </div>

        {# Сокет #}
        <div class="px-2 mb-4">
            <label for="socketFilter" class="block text-sm font-medium text-gray-700">Тип сокета:</label>
            {% for socket in sockets %}
            <div class="flex items-center">
                <input type="checkbox" name="socketFilter[]" class="mr-2" value="{{ socket.id }}" {% if socket.id in socketFilter %} checked{% endif %}>{{ socket.name }}
            </div>
            {% endfor %}
        </div>

        {# Категорія #}
                <div class="px-2 mb-4">
            <label for="categoryFilter" class="block text-sm font-medium text-gray-700">Категорія:</label>
            {% for category in categories %}
                    <div class="flex items-center">
                        <input type="checkbox" name="categoryFilter[]" class="mr-2" value="{{ category.id }}" {% if category.id in categoryFilter %} checked{% endif %}>{{ category.name }}
                    </div>
            {% endfor %}
        </div>

        {# Кеш пам'ять #}
                <div class="px-2 mb-4">
            <label for="cacheMemoryFilter" class="block text-sm font-medium text-gray-700">Кеш пам'ять (MB):</label>
            {% for c in cache %}
                    <div class="flex items-center">
                        <input type="checkbox" name="cacheMemoryFilter[]" class="mr-2" value="{{ c }}" {% if c in cacheMemoryFilter %} checked{% endif %}>{{ c }}
                    </div>
            {% endfor %}
        </div>

        {# TDP #}
                <div class="px-2 mb-4">
            <label for="tdpFilter" class="block text-sm font-medium text-gray-700">TDP (W):</label>
            {% for t in tdp %}
                    <div class="flex items-center">
                        <input type="checkbox" name="tdpFilter[]" class="mr-2" value="{{ t }}" {% if t in tdpFilter %} checked{% endif %}>{{ t }}
                    </div>
            {% endfor %}
        </div>

        {# Кількість ядер #}
                <div class="px-2 mb-4">
            <label for="coresFilter" class="block text-sm font-medium text-gray-700">Кількість ядер:</label>
            {% for core in cores %}
                    <div class="flex items-center">
                        <input type="checkbox" name="coresFilter[]" class="mr-2" value="{{ core }}" {% if core in coresFilter %} checked{% endif %}>{{ core }}
                    </div>
            {% endfor %}
        </div>

        {# Технічний процес #}
                <div class="px-2 mb-4">
            <label for="techProcessFilter" class="block text-sm font-medium text-gray-700">Технічний процес (nm):</label>
            {% for techProces in techProcess %}
                    <div class="flex items-center">
                        <input type="checkbox" name="techProcessFilter[]" class="mr-2" value="{{ techProces }}" {% if techProces in techProcessFilter %} checked{% endif %}>{{ techProces }}
                    </div>
            {% endfor %}
        </div>

        {# Ціновий діапазон #}
                <div class="px-2 mb-4">
            <label for="priceRange" class="block text-sm font-medium text-gray-700">Діапазон цін:</label>
                    <div class="grid grid-cols-2 gap-2">
                        <input type="text" id="minPrice" name="minPrice" class="p-2 border border-gray-300 rounded-md  " value="{{ minPrice }}" placeholder="Мінімум">
                        <input type="text" id="maxPrice" name="maxPrice" class="p-2 border border-gray-300 rounded-md " value="{{ maxPrice }}" placeholder="Максимум">
                    </div>
                </div>
            </div>
        </div>
    </form>

        <div class="container">
            <div class="mb-20">
                <canvas id="viewCountChart" style="max-width: 1500px; max-height: 500px;"></canvas>
            </div>

            <div class="mb-20">
                <canvas id="orderCountChart" style="max-width: 1500px; max-height: 500px;"></canvas>
            </div>
        </div>
    </div>
</div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let viewCountCtx = document.getElementById('viewCountChart').getContext('2d');
        let viewCountChart = new Chart(viewCountCtx, {
            type: 'bar',
            data: {
                labels: {{ labels|raw }},
                datasets: [{
                    label: 'Відвідування сторінок',
                    data: {{ viewCounts|raw }},
                    backgroundColor: 'rgba(30, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        let orderCountCtx = document.getElementById('orderCountChart').getContext('2d');
        let orderCountChart = new Chart(orderCountCtx, {
            type: 'bar',
            data: {
                labels: {{ labels|raw }},
                datasets: [{
                    label: 'Покупки процесорів',
                    data: {{ orderCounts|raw }},
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}

