{% extends 'base.html.twig' %}

{% block title %}Магазин процесорів{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <img src="{{ asset('images/Intel Core 14.jpg') }}" alt="Intel Core 14 Banner" class="mt-16 inset-0 h-full w-full object-cover object-right md:object-center">

        <form action="{{ path('shop') }}" method="get" class="mt-4">
            <div class="flex flex-wrap gap-4">
                <div class="w-full md:w-1/3">
                    <label for="searchQuery" class="block text-sm font-medium text-gray-700">Пошук:</label>
                    <input type="text" id="searchQuery" name="searchQuery" value="{{ searchQuery }}" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                </div>

                <div class="w-full md:w-1/3">
                    <label for="sortOption" class="block text-sm font-medium text-gray-700">Сортувати за:</label>
                    <select id="sortOption" name="sortOption" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                        <option value="date_desc" {% if sortBy == "date_desc"%} selected{% endif %}>Від новішого</option>
                        <option value="date_asc" {% if sortBy == "date_asc"%} selected{% endif %}>Від старішого</option>
                        <option value="price_desc" {% if sortBy == "price_desc"%} selected{% endif %}>Ціна від більшої</option>
                        <option value="price_asc" {% if sortBy == "price_asc"%} selected{% endif %}>Ціна від меншої</option>
                        <option value="quantity_desc" {% if sortBy == "quantity_desc"%} selected{% endif %}>Кількість на складі від більшої</option>
                        <option value="quantity_asc" {% if sortBy == "quantity_asc"%} selected{% endif %}>Кількість на складі від меншої</option>
                        <option value="tdp_desc" {% if sortBy == "tdp_desc"%} selected{% endif %}>TDP від більшого</option>
                        <option value="tdp_asc" {% if sortBy == "tdp_asc"%} selected{% endif %}>TDP від меншого</option>
                        <option value="cores_desc" {% if sortBy == "cores_desc"%} selected{% endif %}>Кількість ядер від більшого</option>
                        <option value="cores_asc" {% if sortBy == "cores_asc"%} selected{% endif %}>Кількість ядер від меншого</option>
                    </select>
                </div>


                <!-- Бренди -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Бренд:</label>
                    {% for brand in brands %}
                        <div class="flex items-center">
                            <input type="checkbox" name="brandFilter[]" value="{{ brand.id }}" id="brand_{{ brand.id }}" {% if brand.id in brandFilter %} checked{% endif %} class="mr-2">
                            <label for="brand_{{ brand.id }}">{{ brand.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Інтегрована графіка -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Інтегрована графіка:</label>
                    {% for graphics in integratedGraphics %}
                        <div class="flex items-center">
                            <input type="checkbox" name="graphicsFilter[]" value="{{ graphics.id }}" id="graphics_{{ graphics.id }}" {% if graphics.id in graphicsFilter %} checked{% endif %} class="mr-2">
                            <label for="graphics_{{ graphics.id }}">{{ graphics.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Тип сокета -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Тип сокета:</label>
                    {% for socket in sockets %}
                        <div class="flex items-center">
                            <input type="checkbox" name="socketFilter[]" value="{{ socket.id }}" id="socket_{{ socket.id }}" {% if socket.id in socketFilter %} checked{% endif %} class="mr-2">
                            <label for="socket_{{ socket.id }}">{{ socket.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Категорія -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Категорія:</label>
                    {% for category in categories %}
                        <div class="flex items-center">
                            <input type="checkbox" name="categoryFilter[]" value="{{ category.id }}" id="category_{{ category.id }}" {% if category.id in categoryFilter %} checked{% endif %} class="mr-2">
                            <label for="category_{{ category.id }}">{{ category.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Кеш пам'ять -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Кеш пам'ять (MB):</label>
                    {% for c in cache %}
                        <div class="flex items-center">
                            <input type="checkbox" name="cacheMemoryFilter[]" value="{{ c }}" id="cache_{{ c }}" {% if c in cacheMemoryFilter %} checked{% endif %} class="mr-2">
                            <label for="cache_{{ c }}">{{ c }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- TDP -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">TDP (W):</label>
                    {% for t in tdp %}
                        <div class="flex items-center">
                            <input type="checkbox" name="tdpFilter[]" value="{{ t }}" id="tdp_{{ t }}" {% if t in tdpFilter %} checked{% endif %} class="mr-2">
                            <label for="tdp_{{ t }}">{{ t }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Кількість ядер -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Кількість ядер:</label>
                    {% for core in cores %}
                        <div class="flex items-center">
                            <input type="checkbox" name="coresFilter[]" value="{{ core }}" id="cores_{{ core }}" {% if core in coresFilter %} checked{% endif %} class="mr-2">
                            <label for="cores_{{ core }}">{{ core }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Технічний процес -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Технічний процес (nm):</label>
                    {% for techProcess in techProcess %}
                        <div class="flex items-center">
                            <input type="checkbox" name="techProcessFilter[]" value="{{ techProcess }}" id="techProcess_{{ techProcess }}" {% if techProcess in techProcessFilter %} checked{% endif %} class="mr-2">
                            <label for="techProcess_{{ techProcess }}">{{ techProcess }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Діапазон цін -->
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Діапазон цін:</label>
                    <div class="grid grid-cols-2 gap-2">
                        <input type="text" id="minPrice" name="minPrice" value="{{ minPrice }}" placeholder="Мінімум" class="p-2 border border-gray-300 rounded-md">
                        <input type="text" id="maxPrice" name="maxPrice" value="{{ maxPrice }}" placeholder="Максимум" class="p-2 border border-gray-300 rounded-md">
                    </div>
                </div>

                <div class="mt-4">
                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700">
                        Застосувати фільтри
                    </button>
                </div>
            </div>
        </form>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
            {% for processor in processors %}
                <a href="{{ path('processor_details', {'id': processor.id}) }}" class="border p-4 rounded-md block">
                    {% if processor.image %}
                        <img src="{{ asset('images/' ~ processor.image) }}" alt="{{ processor.name }} Image" class="mb-4 mx-auto object-contain max-h-40">
                    {% endif %}
                    <h5 class="text-xl font-semibold text-center">{{ processor.name }}</h5>
                    <p class="font-bold text-center">{{ processor.price }} грн</p>
                    <form action="{{ path('add_to_cart', {'id': processor.id}) }}" method="post" class="mt-4">
                        <button type="submit" class="block w-full bg-green-500 text-white font-bold p-2 rounded-md">
                            Додати до кошика
                        </button>
                    </form>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
