<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856UREeX7hUG5sQ9T0/545+h59T3JlZ53z+8T4QH6o+8O27a833jdN2qn" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/uKTQoaYK6g/kL08z7U3/1aD7i7380g+58kjG39f+j75k/k793" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJ9PPjF4PqS6L/i6enBp1Boh6Ed29J8C" crossorigin="anonymous">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

        {# Іконки #}
        <link rel="stylesheet" href="/uicons-regular-rounded/css/uicons-regular-rounded.css">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    {# HEADER #}
    {% include 'header.html.twig' %}


    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            let footer = document.getElementById('page-footer');

            function addFixedBottomClass() {
                let windowHeight = window.innerHeight;
                let footerPosition = footer.offsetTop;

                if (footerPosition < windowHeight) {
                    footer.classList.add('fixed-bottom');
                } else {
                    footer.classList.remove('fixed-bottom');
                }
            }
            window.addEventListener('resize', addFixedBottomClass);
            addFixedBottomClass();
        });
    </script>
</html>

