<footer id="page-footer" class="bg-gray-800" style=" width: 100%;">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex items-center justify-start">
                <p class="text-sm text-gray-500">© Сайт розроблено Грушевицьким Сергієм на курсовий проєкт.</p>
            </div>
        </div>
    </div>
</footer>