<nav class="bg-gray-800" style="position: fixed; width: 100%;">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex items-center justify-start">
                <a href="/shop" class="text-white text-lg font-bold">ProcessorStore</a>
            </div>
            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                    <a href="/shop" class="text-gray-300 hover:text-white">Каталог</a>
                    <a href="/aboutUs" class="text-gray-300 hover:text-white">Про нас</a>
                    <a href="/contacts" class="text-gray-300 hover:text-white">Контакти</a>
                </div>
            </div>
            <div class="flex items-center">
                <a href="{{ path('view_cart') }}" class="text-gray-300 hover:text-white">
                    <i class="fi-rr-shopping-cart text-xl"></i>
                </a>
                <div class="ml-3 relative group dropdown text-end">
                    <a href="#" class="text-gray-300 hover:text-white group link-primary d-block link-dark text-decoration-none dropdown-toggle ms-3" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fi-rr-user text-xl group-hover:text-indigo-600 text-white"></i>
                    </a>
                    <ul class=" dropdown-menu text-small absolute hidden bg-white border border-gray-900/5 rounded-3xl shadow-lg ring-1 ring-gray-900/5 mt-1 w-72" aria-labelledby="dropdownUser1">
                        {% if app.user %}
                                <li class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                    <div class="flex-auto">
                                        <a href="#" class="block font-semibold text-gray-900 pointer-events-none">{{ app.user.name }}
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600 pointer-events-none">{{ app.user.email }}</p>
                                    </div>
                                </li>
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <li><hr class="border-gray-900/5"></li>
                                <li class="group relative flex items-center justify-center gap-x-4 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                                    <i class="fi-rr-settings text-lg"></i>
                                    <div class="flex-auto">
                                        <a href="/admin/panel" class="block font-semibold text-gray-900">
                                            Admin
                                            <span class="absolute inset-0"></span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li><hr class="border-gray-900/5"></li>
                        <li class="group relative flex items-center justify-center gap-x-4 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                            <i class="fi-rr-sign-out text-lg"></i>
                            <div class="flex-auto">
                                <a href="{{ app.user ? path('app_logout') : path('app_login') }}" class="block font-semibold text-gray-900">
                                    {{ app.user ? 'Вийти' : 'Увійти' }}
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
