<div class="fixed mt-20 md:w-1/6 flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 h-[calc(100vh-2rem)] w-full max-w-[10rem] p-4 shadow-xl shadow-blue-gray-900/5">
    <a href="/admin/panel/processors" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-layers"></i>
        Процесори
    </a>
    <a href="/admin/panel/orders" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-shopping-cart"></i>
        Замовлення
    </a>
    <a href="/admin/panel/customers" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-user"></i>
        Користувачі
    </a>
    <a href="/admin/panel/brands" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-diamond"></i>
        Бренди
    </a>
    <a href="/admin/panel/integratedgraphics" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-bug"></i>
        Інтегрована графіка
    </a>
    <a href="/admin/panel/sockettypes" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-expand"></i>
        Тип роз'єму
    </a>
    <a href="/admin/panel/reviews" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-comment-alt"></i>
        Відгуки про товар
    </a>
    <a href="/admin/panel/categories" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-apps-add"></i>
        Категорії
    </a>
    <a href="/admin/panel" class="flex items-center w-full p-3 rounded-lg text-start transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <i class="w-6 h-6 mr-2 fi-rr-chart-histogram"></i>
        Статистика
    </a>
</div>
