{% extends 'base.html.twig' %}

{% block title %}Додавання графіки{% endblock %}

{% block body %}
    {% include 'menu.html.twig'%}
    <div class="w-full md:w-1/6"></div>
    <div class="dark:bg-gray-800 py-8">
        <div class="mt-20 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="p-6 md:w-1/2">
                <h2 class="text-lg font-bold mb-4">Створення категорії</h2>
                <div class="flex flex-col space-y-4">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
