{% extends 'base.html.twig' %}

{% block title %}Створення замовлення{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="w-full md:w-1/6"></div>
    <div class="px-20 container mx-auto">
        <label class="mt-20 text-2xl font-semibold mb-4" for="customer">Створення замовлення</label>
        <form action="{{ path('create_orders') }}" method="post">
            <label for="customer">Замовник:</label>
            <br><select id="customer" name="customer"
                        class="md:w-3/6 mt-1 p-2 border border-gray-300 rounded-md w-full">
                {% for customer in customers %}
                    <option value="{{ customer.id }}" class="form-control">{{ customer.name }}</option>
                {% endfor %}
            </select>
            <br><label for="address" class="mt-4">Адреса доставки:</label>
            <br><input type="text" id="address" name="address" required
                       class="md:w-3/6 mt-2 w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-10 py-2 px-3 font-medium placeholder-gray-600 focus:outline-none focus:bg-white">

            <br><label for="comment" class="mt-4">Коментар:</label>
            <br><textarea id="comment" name="comment" rows="4" cols="50"
                          class="md:w-3/6 mt-2 w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-30 py-2 px-3 font-medium placeholder-gray-600 focus:outline-none focus:bg-white"></textarea>

            <div id="dynamicInputs">
                <div class="processorDiv">
                    <label class="mt-2 text-1xl font-semibold" for="processorLabel">Вміст:</label>
                    <br><select onmousedown="processorRepeat(this)" name="processors[]"
                                class="md:w-1/6 mt-1 p-2 border border-gray-300 rounded-md w-full">
                        {% for processor in processors %}
                            <option value="{{ processor.id }}">{{ processor.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="processorLabel">Кількість:</label>
                    <input type="number" name="quantities[]" step="1" value="1"
                           class="md:w-1/6 mt-1 p-2 border border-gray-300 rounded-md w-full">
                    <button type="button" class="ml-7 text-white py-2 px-4 rounded-lg mt-4 bg-danger"
                            onclick="removeLastInput(this)">Прибрати
                    </button>
                </div>
            </div>
            <button type="button"
                    class="mt-2 px-4 py-2 border text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 w-full md:w-3/6"
                    onclick="addInput()">Додати
            </button>
            <button type="submit"
                    class="mt-2 bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-lg  w-full md:w-3/6">
                Зберегти
            </button>
        </form>
    </div>
    <script>
        function processorRepeat(currentSelect) {
            let dynamicInputs = document.getElementById('dynamicInputs');
            let selectedProcessors = Array.from(dynamicInputs.querySelectorAll('select'));
            let currentSelectValue = currentSelect.value;
            currentSelect.innerHTML = '';
            let processors = {{ selectData|json_encode|raw }};

            processors.forEach(function (processor) {
                let processorName = processor[0];
                let processorId = processor[1];
                let selectFound = false;

                for (let i = 0; i < selectedProcessors.length; i++) {
                    let select = selectedProcessors[i];
                    if (select.value == processorId) {
                        selectFound = true;
                        break;
                    }
                }
                if (!selectFound) {
                    let newOption = document.createElement('option');
                    if (processorId == currentSelectValue) {
                        newOption.selected = true;
                    }
                    newOption.value = processorId;
                    newOption.innerHTML = processorName;
                    currentSelect.appendChild(newOption);
                }
            });
        }

        function removeLastInput(button) {
            let dynamicInputs = document.getElementById('dynamicInputs');
            let divToRemove = button.closest('.processorDiv');

            if (divToRemove) {
                dynamicInputs.removeChild(divToRemove);
            } else {
                alert("Не можна видалити останній елемент.");
            }
        }

        function addInput() {
            let dynamicInputs = document.getElementById('dynamicInputs');
            let selectedProcessors = Array.from(dynamicInputs.querySelectorAll('select'));
            let processors = {{ selectData|json_encode|raw }};
            if (selectedProcessors.length == processors.length) {
                alert("Нема більше процесорів, все скупили, склад порожній!!");
            } else {
                let newDiv = document.createElement('div');
                newDiv.className = 'processorDiv';
                dynamicInputs.appendChild(newDiv);

                let newProcessorSelect = document.createElement('select');
                newProcessorSelect.name = 'processors[]';
                newProcessorSelect.className = "md:w-1/6 mt-1 p-2 border border-gray-300 rounded-md w-full";
                newProcessorSelect.onclick = function () {
                    processorRepeat(this)
                };
                processors.forEach(function (processor) {
                    let processorName = processor[0];
                    let processorId = processor[1];
                    let selectFound = false;

                    for (let i = 0; i < selectedProcessors.length; i++) {
                        let select = selectedProcessors[i];
                        if (select.value == processorId) {
                            selectFound = true;
                            break;
                        }
                    }
                    if (!selectFound) {
                        let newOption = document.createElement('option');
                        newOption.value = processorId;
                        newOption.innerHTML = processorName;
                        newProcessorSelect.appendChild(newOption);
                    }
                });


                newDiv.appendChild(newProcessorSelect);

                let newQuantityLabel = document.createElement('label');
                newQuantityLabel.innerHTML = 'Кількість: ';
                newQuantityLabel.className = 'ml-1';
                newDiv.appendChild(newQuantityLabel);

                let newQuantityInput = document.createElement('input');
                newQuantityInput.type = 'number';
                newQuantityInput.name = 'quantities[]';
                newQuantityInput.className = 'md:w-1/6 mb-1 ml-1 p-2 border border-gray-300 rounded-md w-full';
                newQuantityInput.step = '1';
                newQuantityInput.value = '1';

                newDiv.appendChild(newQuantityInput);

                let newButton = document.createElement('button')
                newButton.type = 'button';
                newButton.className = "ml-8 text-white py-2 px-4 rounded-lg mt-4 bg-danger";
                newButton.onclick = function () {
                    removeLastInput(this)
                };
                newButton.innerHTML = "Прибрати";
                newDiv.appendChild(newButton);

                let br = document.createElement('br');
                newDiv.appendChild(br);
            }
        }
    </script>
{% endblock %}
