{% extends 'base.html.twig' %}

{% block title %}Замовлення{% endblock %}

{% block body %}
    <div class="flex">

        {% include 'menu.html.twig' %}
        <div class="w-full md:w-1/6"></div>

        <div class="mb-20 container mx-auto">
            <h1 class="mt-20 text-3xl font-semibold">Замовлення</h1>
            <form action="{{ path('admin_panel_orders') }}" method="get" class="mt-4">
                <div class="flex space-x-4">
                    <div class="w-full md:w-1/3">
                        <label for="searchQuery" class="block text-sm font-medium text-gray-700">Пошук:</label>
                        <input type="text" id="searchQuery" name="searchQuery" value="{{ searchQuery }}"
                               class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                    </div>

                    <div class="w-full md:w-1/6 ">
                        <label for="sortOption" class="block text-sm font-medium text-gray-700">Сортувати за:</label>
                        <select id="sortOption" name="sortOption"
                                class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                            <option value="price_desc" {% if sortBy == "price_desc" %} selected{% endif %}>Ціна від
                                більшої
                            </option>
                            <option value="price_asc" {% if sortBy == "price_asc" %} selected{% endif %}>Ціна від
                                меншої
                            </option>
                            <option value="date_desc" {% if sortBy == "date_desc" %} selected{% endif %}>Від новішого
                            </option>
                            <option value="date_asc" {% if sortBy == "date_asc" %} selected{% endif %}>Від старішого
                            </option>
                        </select>
                    </div>

                    <div class="mt-4">
                        <button type="submit"
                                class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700">
                            Застосувати фільтри
                        </button>
                    </div>
                </div>
                <div class="flex mt-4 mb-2">
                    <label for="hasComment" class="block text-sm font-medium text-gray-700">Має коментар:</label>
                    <label class="inline-flex items-center ml-2">
                        <input type="checkbox" id="hasComment" name="hasComment" {% if hasComment %}checked{% endif %}
                               class="ml-2 form-checkbox">
                    </label>
                </div>
            </form>

            <a href="{{ path('create_orders') }}"
               class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700 mt-4">+
                Додати</a>

            <div class="mt-4 flex flex-col" style="display: block; overflow-x: auto!important; ">
                <div class="-my-2  sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        ID
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Дата замовлення
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Загальна сума
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Клієнт
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Коментар
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Процесори
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Адреса
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                                    </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                {% for order in orders %}
                                    <tr>
                                        <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">
                                            {{ order.id }}
                                        </td>
                                        <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                            {{ order.orderDate|date('Y-m-d H:i:s') }}
                                        </td>
                                        <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                            {{ order.totalAmount }} грн
                                        </td>
                                        <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                            {{ order.customer.name }}
                                        </td>
                                        <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                            {{ order.comment }}
                                        </td>
                                        <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                            <ul class="list-disc ml-4">
                                                {% for detail in ordersDetails %}
                                                    {% if detail.order.id == order.id %}
                                                        <li>{{ detail.processor.name }} - {{ detail.quantity }} шт.</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                            {{ order.address }}
                                        </td>
                                        <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                                            <a href="{{ path('edit_order', {'id': order.id}) }}"
                                               class="text-indigo-600 hover:text-indigo-900">
                                                Редагувати
                                            </a>
                                            <a href="{{ path('delete_order', {'id': order.id}) }}"
                                               class="ml-4 text-red-600 hover:text-red-900"
                                               onclick="return confirm('Ви впевнені, що хочете видалити це замовлення?')">
                                                Видалити
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
