{% extends 'base.html.twig' %}

{% block title %}Додавання відгуку{% endblock %}

{% block body %}
    {% include 'menu.html.twig'%}
    <div class="w-full md:w-1/6"></div>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-outline-success">Зберегти</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
