{% extends 'base.html.twig' %}

{% block title %}Редагування коментаря{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="w-full md:w-1/6"></div>
    <div class="dark:bg-gray-800 py-8">
        <div class="mt-20 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="p-6 md:w-1/2">
                <h2 class="text-lg font-bold mb-4">Редагування коментаря</h2>
                <div class="flex flex-col space-y-4">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                        <div class="mt-2 text-gray-500">Прокоментований процесор: {{ reviews.processor.name }}</div>
                        <div class="mt-2 text-gray-500">Користувач: {{ reviews.customer.name }}</div>
                    <button type="submit" class="mb-2 mt-2 px-2.5 py-1.5 rounded-md text-white bg-indigo-500">Зберегти</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
