{% extends 'base.html.twig' %}

{% block title %}Відгуки{% endblock %}

{% block body %}
    <div class="flex">
        {% include 'menu.html.twig' %}
        <div class="w-full md:w-1/6"></div>
        <div class="px-20 mb-20 container mx-auto">
            <h1 class="mt-20 text-3xl font-semibold">Відгуки</h1>
            <form action="{{ path('admin_panel_reviews') }}" method="get" class="mt-4">
                <div class="flex space-x-4">
                    <div class="w-full md:w-1/3">
                        <label for="searchQuery" class="block text-sm font-medium text-gray-700">Пошук:</label>
                        <input type="text" id="searchQuery" name="searchQuery" value="{{ searchQuery }}"
                               class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                    </div>
                    <div class="flex space-x-4">
                        <div class="w-full">
                            <label for="sortOption" class="block text-sm font-medium text-gray-700">Сортувати за:</label>
                            <select id="sortOption" name="sortOption" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                                <option value="date_desc" {% if sortBy == "date_desc" %} selected{% endif %}>Від новішого</option>
                                <option value="date_asc" {% if sortBy == "date_asc" %} selected{% endif %}>Від старішого</option>
                                <option value="rating_desc" {% if sortBy == "rating_desc" %} selected{% endif %}>Рейтинг за спаданням</option>
                                <option value="rating_asc" {% if sortBy == "rating_asc" %} selected{% endif %}>Рейтинг за зростанням</option>
                            </select>
                        </div>
                    </div>
                        <div class="mt-4">
                            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-700">Застосувати фільтри</button>
                        </div>
                </div>

                <div class="mt-4">
                    <label for="ratingFilter" class="block text-sm font-medium text-gray-700">Роль:</label>
                    {% for r in rating %}
                        <label class="inline-flex items-center ml-2">
                            <input type="checkbox" name="ratingFilter[]" value="{{ r }}" {% if r in ratingFilter %}checked{% endif %} class="form-checkbox">
                            <span class="ml-2">{{ r }}</span>
                        </label>
                    {% endfor %}
                </div>
            </form>

            <div class="mt-4">
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            ID
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Процесор
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Клієнт
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Рейтинг
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Коментар
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Дата створення
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                    {% for review in reviews %}
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                {{ review.id }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ review.processor.name }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ review.customer.name }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ review.rating }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ review.comment }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ review.createdat|date('Y-m-d H:i:s') }}
                                            </td>
                                            <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                                                <a href="{{ path('edit_reviews', {'id': review.id}) }}" class="text-indigo-600 hover:text-indigo-900">
                                                    Редагувати
                                                </a>
                                                <a href="{{ path('delete_reviews', {'id': review.id}) }}" class="ml-4 text-red-600 hover:text-red-900" onclick="return confirm('Ви впевнені, що хочете видалити цей відгук?')">
                                                    Видалити
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
