{% extends 'base.html.twig' %}

{% block title %}Контакти{% endblock %}

{% block body %}
    <section class="bg-gray-100">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <div class="mt-16 grid grid-cols-1 gap-y-10 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 lg:gap-x-8">
                <div class="sm:col-span-2">
                    <h2 class=" text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Будемо на зв'язку</h2>
                    <p class="mt-4 text-gray-500">
                        Завжди готові допомогти та відповісти на ваші питання. Звертайтеся!
                    </p>
                </div>
                <div class="rounded-lg shadow-lg p-8 sm:p-12">
                    <h3 class="text-2xl font-bold text-gray-900">Співпраця</h3>
                    <p class="mt-4 text-gray-500">
                        <a href="mailto:collaborate@example.com" class="text-indigo-600 hover:text-indigo-700">collaborate@example.com</a>
                    </p>
                    <p class="mt-2 text-gray-500">
                        +1 (555) 905-2345
                    </p>
                </div>
                <div class="rounded-lg shadow-lg p-8 sm:p-12">
                    <h3 class="text-2xl font-bold text-gray-900">Преса</h3>
                    <p class="mt-4 text-gray-500">
                        <a href="mailto:press@example.com" class="text-indigo-600 hover:text-indigo-700">press@example.com</a>
                    </p>
                    <p class="mt-2 text-gray-500">
                        +1 (555) 905-3456
                    </p>
                </div>
                <div class="rounded-lg shadow-lg p-8 sm:p-12">
                    <h3 class="text-2xl font-bold text-gray-900">Приєднатися до нашої команди</h3>
                    <p class="mt-4 text-gray-500">
                        <a href="mailto:careers@example.com" class="text-indigo-600 hover:text-indigo-700">careers@example.com</a>
                    </p>
                    <p class="mt-2 text-gray-500">
                        +1 (555) 905-5678
                    </p>
                </div>
                <div class="rounded-lg shadow-lg p-8 sm:p-12">
                    <h3 class="text-2xl font-bold text-gray-900">Привітайтеся з нами</h3>
                    <p class="mt-4 text-gray-500">
                        <a href="mailto:hello@example.com" class="text-indigo-600 hover:text-indigo-700">hello@example.com</a>
                    </p>
                    <p class="mt-2 text-gray-500">
                        +1 (555) 905-4567
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-100">
        <div class="max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <h2 class="py-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Розташування</h2>

            <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 lg:gap-x-8">
                <div class="sm:col-span-2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10202.608731062885!2d28.662842281809073!3d50.26108011263322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64af9560aba5%3A0xc0d8cb79a92229b6!2z0JPQu9C-0LHQsNC7IFVh!5e0!3m2!1sru!2sua!4v1709127085153!5m2!1sru!2sua"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="rounded-lg shadow-lg p-8 sm:p-12">
                    <h3 class="text-2xl font-bold text-gray-900">Офіси в Україні</h3>
                    <p class="mt-4 text-gray-500">
                        <strong>Львів:</strong><br>
                        вул. Примерна, 123<br>
                        <a href="tel:+380501234567" class="text-indigo-600 hover:text-indigo-700">+38050 123 45 67</a>
                    </p>
                    <p class="mt-4 text-gray-500">
                        <strong>Київ:</strong><br>
                        вул. Фіктивна, 456<br>
                        <a href="tel:+380672345678" class="text-indigo-600 hover:text-indigo-700">+38067 234 56 78</a>
                    </p>
                    <p class="mt-4 text-gray-500">
                        <strong>Одеса:</strong><br>
                        вул. Уявна, 789<br>
                        <a href="tel:+380634567890" class="text-indigo-600 hover:text-indigo-700">+38063 456 78 90</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
